.redCell {
    background-color: #e8b3ae;
}

.greenCell {
    background-color: #bbe7d3;
}

.yellowCell {
    background-color: #f9ebad;
}

.blueCell {
    background-color: #a4c9db;
}

.pageTitle {
    font-size: 250%;
}